<%-include('partials/navbar.ejs')-%>
<br>
<br>
<br>
<br>
<div class="container">
    <center>
        <h1>BMI Result</h1>
    
    
    <img class="bmipic1" src="/8551499.jpg" alt="">
    <p>Welcome to BMI Calculator Result,<%=name%>!<br><br> According to the input values,Your BMI is :<span style="color:red;"> <%=bmi%> </span> & according to the meter,you are <span><%=currState%>.</span></p>
    <br><br>
    <p><%=suggestion%></p>
<br>
<img class="bmipic1" src="<%=imgsrc%>" alt="">
</div>
</center>
<%-include('partials/footer.ejs')-%>